@import '../../globals.scss';

.container{
    background-color: $dark-background;
    height: 95vh;
}

#home-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh; 
}