@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$background:#264653;
$heading:#e76f51;
$text:#e9c46a; 
$accent:#f4a261;
$lightbg:#2a9d8f;

$main-font:'Open Sans', sans-serif;

@mixin flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}